<section id="inicio" class="w-full h-screen mx-auto flex items-center justify-center brightness-125 dark:brightness-100">
    <div class="relative text-center">
        <h1
            class="text-white text-xl md:text-3xl lg:text-6xl font-semibold uppercase tracking-widest"
        >
            <strong class="text-[#C11010]">Recambios</strong> las margaritas
        </h1>
        <h2 class="text-white text-sm md:text-lg lg:text-xl text-balance break-words">
            Tu parada única para <strong class="text-[#C11010]">piezas</strong> confiables y <strong class="text-[#C11010]">precios</strong> competitivos.
        </h2>
        <a href="#contacto"class="inline-block border border-white rounded-full text-white text-[25px] px-6 py-4 font-semibold mt-6 hover:bg-[#C11010] transition-colors hover:border-[#C11010]">CONTACTO</a>
    </div>
</section>

<style>
    section {
        position: relative;
        background: url("/home.webp");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    section::before {
        position: absolute;
        content: "";
        inset: 0;
        background-color: rgba(0, 0, 0, 0.7);
    }

    h2 {
        margin-top: 0px;
    }
</style>
