---
import Bento from "@components/Bento.astro";
---

<section id="productos" class="w-full bg-[#dce8e9] dark:bg-[#1C3839] p-6 md:p-12 lg:p-20 snap-start">
    <h2
        class="text-4xl md:text-5xl lg:text-6xl py-3 font-semibold uppercase text-center tracking-widest text-[#1C3839] dark:text-white"
    >
        Productos
    </h2>
    <Bento />
</section>
