---
interface Props {
  class?: string
  title: string
  subtitle?: string
}

const { title } = Astro.props
---
<article
  class={`
  ${Astro.props.class}
  col-span-5
  relative rounded-xl
  backdrop-blur-md
  border border-black/10
  shadow-inner shadow-white/10
  overflow-hidden
  group
`}
>
  <div
    data-title={title}
    class="absolute bottom-0 top-0 z-10 h-full w-full
    bg-gradient-to-b from-transparent from-40% via-[#151836]/50 to-[#151836]/80"
  >
  </div>

  <slot name="image" />

  <!-- <div
    class="relative z-20 flex h-full select-none flex-col justify-end gap-1 p-4 text-lg md:p-6"
  >
    <h2 class="mb-4 text-balance text-3xl font-semibold uppercase text-white">
    </h2>

    {
      subtitle && (
        <h3 class="-mt-4 mb-4 text-3xl font-semibold text-sky-200/80">
          {subtitle}
        </h3>
      )
    }

    <slot name="content" />
  </div> -->
</article>

<style>
  [data-title]:hover:after {
      opacity: 1;
      transition: opacity 0.3s ease-in-out 0.2s;
      visibility: visible;
  }

  [data-title]:after {
      content: attr(data-title);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: .3rem;
      color: white;
      text-shadow: 0 0 10px black;
      opacity: 0;
      visibility: hidden;
      z-index: 1000;
  }

  [data-title] {
      position: relative;
  }

  @media screen and (min-width: 800px) {
    [data-title]:after {
      font-size: 2.5rem;
    }
}
</style>