---
import BrandItem from "@components/BrandItem.astro";
---

<section class="bg-[#252525] overflow-hidden whitespace-nowrap">
    <div class="inline-block animate-loop-scroll">
        <BrandItem image="/logos/valeo.webp" alt="Valeo Logo" />
        <BrandItem image="/logos/bosch.webp" alt="Bosch Logo" />
        <BrandItem image="/logos/Brembo.webp" alt="Brembo Logo" />
        <BrandItem image="/logos/sachs.webp" alt="Sachs Logo" />
        <BrandItem image="/logos/TRW.webp" alt="TRW Logo" />
        <BrandItem image="/logos/continental.webp" alt="Continental Logo" />
        <BrandItem image="/logos/monroe.webp" alt="Monroe Logo" />
        <BrandItem image="/logos/LuK.webp" alt="LuK Logo" />
    </div>
    <div class="inline-block animate-loop-scroll">
        <BrandItem image="/logos/valeo.webp" alt="Valeo Logo" />
        <BrandItem image="/logos/bosch.webp" alt="Bosch Logo" />
        <BrandItem image="/logos/Brembo.webp" alt="Brembo Logo" />
        <BrandItem image="/logos/sachs.webp" alt="Sachs Logo" />
        <BrandItem image="/logos/TRW.webp" alt="TRW Logo" />
        <BrandItem image="/logos/continental.webp" alt="Continental Logo" />
        <BrandItem image="/logos/monroe.webp" alt="Monroe Logo" />
        <BrandItem image="/logos/LuK.webp" alt="LuK Logo" />
    </div>
</section>
