---
interface Props {
    image: string;
    alt: string;
}

const { image, alt } = Astro.props;
---

<div class="inline-block h-16 mx-[clamp(3rem,2.5vw,5rem)] aspect-video">
    <img src={image} alt={alt} class="h-full object-contain">
</div>