---
import { Image } from 'astro:assets';
interface Props {
    image: ImageMetadata;
    alt: string;
}

const { image, alt } = Astro.props;
---

<div class="inline-block h-16 mx-[clamp(3rem,2.5vw,5rem)] aspect-video">
    <Image src={image} alt={alt} class="h-full object-contain" />
</div>