---
interface Props {
  sectionTitle: string;
  sectionDescription: string;
  itemtype?: string;
}

const { sectionTitle, sectionDescription, itemtype } = Astro.props;
---

<div itemscope itemtype={itemtype} class="section-info flex flex-col gap-3">
  <h3 class="font-medium text-2xl md:text-3xl tracking-wide">{sectionTitle}</h3>
  <p itemprop="description" class="text-base font-normal text-pretty">
    {sectionDescription}
  </p>
  <slot />
</div>

<style>
  @media (width <= 1326px) {
    .section-info:nth-child(3) {
      grid-column: span 2;
    }
  }

  @media (width < 850px) {
    .section-info:nth-child(3) {
      grid-column: span 1;
    }
  }
</style>
