---

---

<header>
    <nav class="w-full max-w-[90%] mx-auto flex justify-between items-center py-6">
        <div>
            <span class="font-bold tracking-wider text-2xl uppercase"
                ><span class="text-red-500">Recambios</span> las Margaritas</span
            >
        </div>
        <div>
            <ul
                class="font-semibold flex items-center justify-center gap-x-4 [&>li>a]:p-2"
            >
                <li>
                    <a href="#inicio">INICIO</a>
                </li>
                <li>
                    <a href="#productos">PRODUCTOS</a>
                </li>
                <li>
                    <a href="#contacto">CONTACTO</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<style>
    a:hover {
        color: rgb(239, 68, 68);
        transition: color .3s;
    }
</style>
