<section class="w-full h-screen mx-auto flex items-center justify-center">
    <div class="relative text-center">
        <h1
            class="text-white text-[120px] font-semibold uppercase tracking-widest"
        >
            Recambios
        </h1>
        <h2 class="text-white text-xl text-balance break-words">
            En recambios las margaritas puedes encontrar todo tipo de recambios
            para el automóvil, piezas , baterias, aceite, accesorios
        </h2>
        <a href="#"class="inline-block border border-white rounded-full text-white text-[25px] p-4 font-semibold mt-6 hover:bg-red-500 transition-colors hover:border-red-500">CONTACTO</a>
    </div>
</section>

<style>
    section {
        position: relative;
        background: url("/home.webp");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    section::before {
        position: absolute;
        content: "";
        inset: 0;
        background-color: rgba(0, 0, 0, 0.7);
    }

    h2 {
        margin-top: -32px;
    }
</style>
