---
import Bento from "@components/Bento.astro";
---

<section class="w-full bg-[#0e0e0f] py-8">
    <h1
        class="text-6xl text-white font-semibold uppercase text-center tracking-widest"
    >
        Productos
    </h1>
    <Bento />
</section>
