---
import Bento from "@components/Bento.astro";
---

<section class="w-full bg-[#1C3839] dark:bg-[#0e0e0f] p-6 md:p-12 lg:p-20">
    <h1
        class="text-3xl md:text-4xl lg:text-6xl text-white font-semibold uppercase text-center tracking-widest"
    >
        Productos
    </h1>
    <Bento />
</section>
