---

---

<div class="container no-print">
  <label 
    for="interruptor"
    class="switch"
    title="Cambiar el esquema de color de la página"

  >
    switch
    <input id="interruptor" name="interruptor" type="checkbox" checked/>
    <span class="slider"></span>
  </label>
</div>

<style>
  .container {
    position: relative;
    /* top: 12px; */
    /* right: 12px; */
  }

  /* El interruptor - contendor del interruptor*/
  .switch {
    font-size: 12px;
    position: relative;
    display: inline-block;
    width: 3.7em;
    height: 2em;
    color: transparent;
  }

  /* Oculta las configuraciones por defecto */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* Interruptor */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 0.4s;
    border-radius: 5px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 0.1em;
    border-radius: 0px;
    left: 0.3em;
    bottom: 0.3em;
    background-color: white;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(0, 0, 0);
  }

  input:checked + .slider:before {
    transform: translateX(2.8em) rotate(360deg);
  }

  @media print {
    .no-print {
      display: none;
    }
  }
</style>

<script>
  const switchButton = document.querySelector(
    ".switch input"
  ) as HTMLInputElement;
  const html = document.querySelector("html") as HTMLElement;

  // light / dark mode con localStorage
  if (html && switchButton) {
    if (localStorage.getItem("theme") === "dark") {
      html.classList.add("dark");
      switchButton.checked = true;
    } else {
      html.classList.remove("dark");
      switchButton.checked = false;
    }

    switchButton.addEventListener("change", () => {
      if (switchButton.checked) {
        html.classList.add("dark");
        localStorage.setItem("theme", "dark");
      } else {
        html.classList.remove("dark");
        localStorage.setItem("theme", "light");
      }
    });
  }
</script>
