---
import "@fontsource-variable/work-sans";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content="En recambios las margaritas puedes encontrar todo tipo de recambios para el automóvil, piezas, baterías, aceite, accesorios.">
		<meta name="keywords" content="recambios, automóvil, piezas, baterías, filtros, coche, getafe, margaritas, tienda, madrid, bombillas">
		<meta name="author" content="Kelvin Guerrero - Michael Retamozo">
		<meta property="og:title" content="Recambios las margaritas - Tienda de recambios para el automóvil">
		<meta property="og:description" content="En recambios las margaritas ubicada en Getafe puedes encontrar todo tipo de recambios para el automóvil, piezas, baterías, aceite, accesorios. Tel: 919 122 516 - Whatsapp: 632 291 037">
        <meta property="og:image" content="/recambiosmargaritas.webp" />
		<meta property="og:url" content="https://recambioslasmargaritas.es">
    	<meta property="og:type" content="website">
    <title>{title}</title>
  </head>
  <body class="snap-y snap-proximity">
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }

  html {
    font-family: "Work Sans Variable", sans-serif;
    background: #000000;
    background-size: 224px;
    scroll-behavior: smooth;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  ::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #999797;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:active {
    background-color: #dddddd;
  }

  ::-webkit-scrollbar-track {
    background: #53535385;
  }

  ::-webkit-scrollbar-corner {
    background: #535353;
  }

  .mask-image-smoth {
    mask-image: linear-gradient(to bottom, black 90%, rgba(0, 0, 0, 0.01) 100%);
  }

  .mark-image-none {
    mask-image: none;
  }
</style>
